.footer {
    background-color: rgb(47, 47, 47);
    color: #fff;
    min-height: 30px;
    width: 100%;
    text-align: center;
    position: fixed;
    bottom: 0;
}

.footer .container {
    padding-top: 5px;
}

.footer p {
    margin: 0;
    color: white;
    font-size: 16px;
    font-family: cursive;
}