.landing-page .content {
    background-color: #F1F2ED;
    background-size: 40% 100%;
    width: 100%;
}

    
@media screen and (min-width: 1200px) {
    .landing-page .content {
        background-image: url('../components/images/background-image.png');
        background-repeat: no-repeat;
        background-size: 40% 100%;
        background-position: 90%;
    }
} 

@media screen and (max-width: 1199px) {
    .landing-page .content-small {   
        background-image: url('../components/images/background-image.png');
        background-repeat: no-repeat;
    }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
    .landing-page .content-small {
        background-size: 600px 100%;
        height: 400px;
        margin-bottom: 5%;
        background-position: 50%;
    }
}

@media screen and (min-width: 576px) and (max-width: 767px) {
    .landing-page .content-small {
        background-size: 400px 100%;
        height: 350px;
        margin-bottom: 5%;
        background-position: 40%;
    }
}

@media screen and (max-width: 575px) {
    .landing-page .content-small {
        background-size: 300px 100%;
        height: 200px;
        margin-bottom: 5%;
        background-position: 40%;
    }
}

.landing-page h1 {
    color: rgb(91 119 133);
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 80px;
    animation: fadeIn 3s;
    line-height: 80px;
}

.landing-page h3 {
    color: black;
    animation: fadeIn 3s;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin-bottom: 3%;
    font-size: 25px;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.landing-page .start {
    background-color: #BDC3CB;
    font-size: 18px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    transition: transform 0.3s;
    animation: fadeIn 3s;
    font-family: cursive;
}

.landing-page button:hover {
    transform: scale(1.1);
}

