.nav-wrapper .navbar {
  background-color: #F1F2ED !important;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.nav-wrapper .navbar-nav .nav-link {
  color: #CCAFA5;
  transition: color 0.3s;
  transition: transform 0.2s;
  font-size: larger;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.nav-wrapper .navbar-nav .nav-link:hover {
  transform: scale(1.15);
}

.nav-wrapper .ml-auto .btn.btn-danger {
  background-color: #BDC3CB !important;
  border: none;
  padding: 8px 15px;
  border-radius: 5px;
  color: black;
  font-family: cursive;
  
}

.nav-wrapper .ml-auto .btn.btn-danger:hover {
  background-color: rgb(15, 123, 26) !important;
  border: none;
  padding: 8px 15px;
  border-radius: 5px;
  transition: background-color 0.3s;
  color: white;
}

.nav-wrapper .ml-auto .btn.btn-danger-logout {
  background-color: #BDC3CB !important;
  border: none;
  padding: 8px 15px;
  border-radius: 5px;
  color: black;
  font-family: cursive;
  
}

.nav-wrapper .ml-auto .btn.btn-danger-logout:hover {
  background-color: rgb(255, 0, 0) !important;
  border: none;
  padding: 8px 15px;
  border-radius: 5px;
  transition: background-color 0.3s;
  color: white;
}

.nav-wrapper .navbar-brand {
  margin-left: auto;
  margin-right: auto;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #CCAFA5 !important;
  font-size: 25px !important;
}

.nav-wrapper .navbar-nav .nav-link {
  padding: 15px 20px;
}

.nav-wrapper .ml-auto {
  display: flex;
  align-items: center;
}

.nav-wrapper .dropdown-item:hover {
  background-color: #e9ecef;
  color: black;
}