@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

* {
  font-family:'Montserrat', Times, serif;
}

body::-webkit-scrollbar {
  width: 1em;  
}
body::-webkit-scrollbar-track {
  background-color: rgb(47, 47, 47);
  border-top-right-radius: 100vw;
  border-top-left-radius: 100vw;
  margin-top: .5em;
}
body::-webkit-scrollbar-thumb {
  background-color: rgb(226, 168, 43);
  border: .2em solid rgb(47, 47, 47);
  border-radius: 100vw;
}
body::-webkit-scrollbar-thumb:hover {
  background-color: rgb(226, 168, 43, 0.7)
}

@supports (scrollbar-color: rgb(226, 168, 43) rgb(47, 47, 47)) {
  * {
    scrollbar-color: rgb(226, 168, 43) rgb(47, 47, 47);
    scrollbar-width: thin;
  }
}

.App {
  text-align: center;
}